.chat-container{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 65vh;
  width: 100vw;
  margin: 0 auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}


.room-name{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  height: 3%;
  color: black;
  text-align: center;
  font-size: 5vh;
  font-family: monospace;

}



.msg {
  text-align: left;
  line-height: 2.5vh;
  font-size: 0.7rem;
  width: 14%;
  align-self: flex-start ;
  padding: 1em;
  margin-top: 1.5%;
  color: #fff;
  display: block;
  border-radius: 4%;
  
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}
.name{
  font-weight: 700;
  color: white;
  font-size: 0.8rem;
 
  }

 .userMsg {

  align-self: flex-end !important;
  text-align: center !important;
  background-color: #B11313;
  opacity: 0.9;
}
 .diffMsg {

  text-align: center !important;
  background-color:#2B3784;
  opacity: 0.9;
}

.messages {
  display: flex !important;
  flex-direction: column !important;
  width: 70vw !important;

}



.timestamp{
  font-size: 92%;
  margin: auto;
  padding: 0 15px 0 0;
  display: table;
  float:right;
  position: relative;
  text-transform: uppercase; 
  color: #999
}




.group-title{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  background-color: whitesmoke;
  margin-top: 6%;
}
.group-title:hover{
  color: green
}
.send-message-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input { 
  width: 60%;
  
  text-align: center;
  padding: 1.6%;
  border: 1px rgba(0, 0, 0, 0.397) solid;
  border-radius: 2rem; font-size: larger;  }
  
  
 
  
  @media only screen and (min-width: 240px) and (max-width: 999px) {
    .chat-container{
      height: 100%;
    
    }
    .name{
      font-size: 1.1vh;
      color: #fff;
      
      
    }
    .text{
      font-size: 2vh;
    }
    .msg{
      width: 60%;
      font-size: 1.4vh;
    }

    .room-name{
      margin-top: 16%;
      height: 6%;
      width: 99vw;

    }
    .input{
      height: 7vh;
      border: 10px rgba(0, 0, 0, 0.397) solid;

    }
  }