.form{
  height: 64%;
  width: 70% ;
  padding: 2rem;
  margin-top: 15vh;
  right: 35%;
  bottom: 10%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  border-radius: 3%;
  color: black;
  background-color: #fff;
  }
  .register-form{
    height: 78%;
    right: 35%;
    bottom: 10%;
    position: absolute;
    width: 70%;
    padding: 2rem;
    margin-top: 15vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
    border-radius: 3%;
    background-color: #fff;
  }
  .form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}
.login__bg {
  background-image: url(https://wallpapers.com/images/file/cool-picture-of-spider-man-logo-prqivt84zoaprdkk.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.signup__bg {
  background-image: url(https://www.creativefabrica.com/wp-content/uploads/2020/09/18/Spider-Man-Insect-silhouette-logo-design-Graphics-5546412-1.jpg);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.btn {
    padding: 10px 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: green;
    opacity: 0.75;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
  }
  .btn:hover {
    transform: scale(0.98);
    overflow: 0.6;
  }
  .heading {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 0 50px;
    padding: 0 20px;
    margin: 100px;
  }

  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #DF1F2D 50%, #B11313 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  @media only screen and (min-width: 340px) and (max-width: 990px) {
    .form{
        height: 35% !important;
        position: absolute;

        left: 25%;
        bottom: 50% ;
            
      

    }
    .register-form{
      margin-top: 170%;
      height: 35% !important;
      position: absolute;

      left: 25%;
      bottom: 50% ;


    }

  }