

.header {
    position: sticky;
    top: 0px;
    height: 70px;
    max-height:190px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    margin-bottom: -70px;
    z-index: 5;
  }
  .header-menu{
    color: white;
    cursor: pointer;
    display: none;
  }
  .logo{
    height: 110px;
    max-width: 300px;
    max-height:270px ;
    width: 120px;
    background-image: url("../../app//assets/spider-logo-transperent.png");
    background-size: cover;
  }
  
  .text-link {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    margin: 0px 5px;
    border-style: solid ;
    border-width: 0px 0px 1px 0px;
    border-color: transparent;
    transition: 250ms;
  }
  .text-link:hover{
    border-color: white;
    transition: 250ms;
  }

  header {
    margin:0;
    padding:0;
    font-family:"arial",heletica,sans-serif;
    font-size:12px;
      background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
   
  }
   
  @-webkit-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-moz-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-ms-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @-o-keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
   
  @keyframes animate {
    from {background-position:0 0;}
    to {background-position: 500px 0;}
  }
.footer{
  height: 10vh;
  width: 100vw;
  background: #2980b9;
}
@media only screen and (min-width: 340px) and (max-width: 990px) {
  .text-link{
    font-size: 1.4vh;
    
  }
  .header{
    height: 15%;
  }
  .logo{
    width: 70vw;
    height: 40vh;
  }
}